*{
  color:white;
  box-sizing: border-box;
  margin: auto;
  /* padding: 0; */
}

/*Header css start*/

header h1 {
  padding: '10px';
  text-align: center;
  font-style: italic;
}

/*Header css end*/

body{
  font-family:'nixie_oneregular', 'Courier New', Courier, monospace;
  line-height: 1.4;
  background-color: rgb(0, 0, 0);
}

a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/*menuItem css start*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MenuLink{
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  padding: 3px 8px;
}

.MenuLink:hover {
  color: grey;
  transition: all ease-in-out;
  cursor: pointer;
}

/* nav ul {
  list-style: none;
  background-color: rgb(17, 17, 17);
  border-radius: 1rem;
} */

nav ul li {
  display: inline-block;
  margin-right: 80px;
  margin-left: 80px;
}

/*menuItem css end*/

.Home img {
  border-radius: 1.25rem;
  margin-right: 1%;
}

.Home {
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 justify-content: center;
 margin-top: 100px;
}

.Home p {
  max-width: 50%;
  text-size-adjust: 100%;
  margin-left: 0%;
}

.Container {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 25px;
  row-gap: 10px;
  justify-content: center;
  height: 90vh;
  margin-top: 50px;
}

.Project {
  transition: all 0.3s ease-in-out;
}

.Project img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.Project:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.Project h3 {
text-align: center;
}

footer{
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  font-size: 9pt;
  margin-top: 400px;
}